{#
/**
 * @file
 * Template to display a Blog Post in Teaser mode.
 */
#}
{% extends 'node.html.twig' %}
{% set date = node.createdtime|format_date('date_medium') %}

{% block content %}
  <div{{ content_attributes.addClass('row') }}>
    <div class="col-sm-5">
      {{ content.field_blog_post_featured_image }}
    </div>
    <div class="col-sm-7">

      <h6>
        <a href="/blog">
          <i class="fa fa-long-arrow-left"></i> {% trans %} See all blog posts {% endtrans %}
        </a>
      </h6>

      <h1 class="page__title">{{ label }}</h1>

      {% if display_submitted %}
        <h4 class="blog-post__date">{{ date }}</h4>
      {% endif %}

      {{ content.field_blog_post_body }}
    </div>
  </div>
{% endblock %}
