{#
/**
 * @file
 * Template to display a Blog Post in Featured mode.
 */
#}
{% extends 'node.html.twig' %}
{% set date = node.createdtime|format_date('date_medium') %}

{% block content %}
  <div class="row">
    <div class="col-xs-5">
      {{ content.field_blog_post_featured_image }}
    </div>
    <div class="col-xs-7">
      {% if display_submitted %}
        <div class="blog-post__date">{{ date }}</div>
      {% endif %}

      <h3 class="blog-post__title">
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h3>

      {{ content.field_blog_post_body }}
    </div>
  </div>
{% endblock %}
