{#
/**
 * @file
 * Template to display a Menu in Teaser mode.
 */
#}
{% extends 'node.html.twig' %}

{% block content %}
  <div{{ content_attributes.addClass('row') }}>
    <div class="col-sm-4">
      <div class="text--lead visible-xs">
        {{ content.field_menu_teaser }}
      </div>

      <div class="menu__nutrition-types visible-xs">
        {{ content.field_menu_nutrition_types }}
      </div>

      <div class="menu__images">
        {{ content.field_menu_images }}
      </div>
    </div>
    <div class="col-sm-8">
      <h1 class="page__title">
        {{ label }}
      </h1>

      <div class="lead hidden-xs">
        {{ content.field_menu_teaser }}
      </div>

      <div class="menu__nutrition-types hidden-xs">
        {{ content.field_menu_nutrition_types }}
      </div>

      <div class="menu__description">
        {{ content.field_menu_description }}
      </div>

      <div class="menu__variants">
        {{ content.field_menu_variants }}
      </div>

      {% if content.field_menu_locations %}
        <div class="menu__locations">
          <strong>{{ "Available at these locations:" }}</strong>
          {{ content.field_menu_locations }}
        </div>
      {% endif %}

      <a href="/menu" class="btn btn--secondary">
        <i class="fa fa-long-arrow-left"></i> {% trans %} See all menus {% endtrans %}
      </a>
    </div>
  </div>
{% endblock %}
