{#
/**
 * @file
 * Template to display an Location in Full mode.
 */
#}
{% extends 'node.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-sm-7">
      <h1 class="page__title">{{ label }}</h1>

      <div class="location__images visible-xs">
        {{ content.field_location_images }}
      </div>

      <div class="row">
        <div class="col-sm-6">
          {{ content.field_location_address }}

          <div class="location__opening-hours">
            {{ content.field_location_opening_hours }}
          </div>
        </div>
        <div class="col-sm-6">
          {{ content.field_location_contact }}
        </div>
      </div>

      <hr />
      {{ content.field_location_body }}
    </div>
    <div class="col-sm-4 col-sm-offset-1">
      <div class="location__images hidden-xs">
        {{ content.field_location_images }}
      </div>
      <h6 class="text--center">
        <a href="/locations">
          <i class="fa fa-long-arrow-left"></i> {% trans %} See all locations {% endtrans %}
        </a>
      </h6>
    </div>
  </div>
{% endblock %}
