{#
/**
 * @file
 * Template to display an Location in Teaser mode.
 */
#}
{% extends 'node.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <div class="location__images">
        {{ content.field_location_images[0] }}
      </div>
    </div>
    <div class="col-sm-7">
      <h2 class="location__title">
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>

      <div class="row">
        <div class="col-sm-6">
          {{ content.field_location_address }}

          <div class="location__opening-hours">
            {{ content.field_location_opening_hours }}
          </div>
        </div>
        <div class="col-sm-6">
          {{ content.field_location_contact }}
        </div>
      </div>

      <a href="{{ url }}" class="location__readmore btn btn--xs">
        <i class="fa fa-map-marker"></i> {% trans %} View location {% endtrans %}
      </a>

      <a href="{{ url }}" class="location__readmore btn btn--xs">
        <i class="fa fa-cutlery"></i> {% trans %} View menu {% endtrans %}
      </a>
    </div>
  </div>
{% endblock %}
