{#
/**
 * @file
 * Template to display an Event in Full mode.
 */
#}
{% extends 'node.html.twig' %}

{% block content %}
  <div class="row">

    <div class="col-sm-4">
      <div class="event__featured-image">
        {{ content.field_event_featured_image }}
      </div>
    </div>

    <div class="col-sm-7 col-sm-offset-1">
      <h1 class="page__title">{{ label }}</h1>

      <p class="event__date lead">
        {{ content.field_event_date }}
      </p>

      <div class="event__location">
        {{ content.field_event_location }}
      </div>

      <div class="event__body">
        {{ content.field_event_body }}
      </div>

      <a href="/events" class="btn btn--secondary">
        <i class="fa fa-long-arrow-left"></i> {% trans %} See all events {% endtrans %}
      </a>
    </div>
  </div>
{% endblock %}
