{#
/**
 * @file
 * Template to display an Event in Featured mode.
 */
#}
{% extends 'node.html.twig' %}

{% block content %}
  {{ content.field_event_featured_image }}

  <a href="{{ url }}" rel="bookmark" class="link--overlay">
    {{ title_prefix }}
      <h3 class="event__title">
        {{ label }}
      </h3>
    {{ title_suffix }}

    <div class="bottom">
      {{ content.field_event_location }}
      {{ content.field_event_date }}
    </div>
  </a>
{% endblock %}
