{#
/**
 * @file
 * Template to display a Menu in Teaser mode.
 */
#}
{% extends 'node.html.twig' %}

{% block content %}
  <div class="menu__image">
    {{ content.field_menu_images[0] }}
  </div>

  <div class="menu__details">
    <h3 class="menu__title">
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>

    {{ content.field_menu_teaser }}

    <div class="menu__nutrition-types">
      {{ content.field_menu_nutrition_types }}
    </div>
  </div>

  {{ content.field_menu_variants }}
{% endblock %}
