{#
/**
 * @file
 * Theme implementation to display a Drupal installation page.
 */
#}
<div class="layout-container">

  <header role="banner">
    {% if site_name %}
      <h1 class="page-title">
        {{ site_name }}
      </h1>
    {% endif %}
  </header>

  <div class="wrapper">
    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    <main role="main">
      {% if title %}
        <h2 class="heading-a">{{ title }}</h2>
      {% endif %}
      {{ page.highlighted }}
      {{ page.content }}
    </main>

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
  </div>

  {% if page.copyright %}
    <footer>
      <p class="copyright">{{ page.copyright }}</p>

      {% if site_version %}
        <p class="version">Version: {{ site_version }}</p>
      {% endif %}
    </footer>
  {% endif %}

</div>
