{#
/**
 * @file
 * Template to display a Blog Post in Featured mode.
 */
#}
{% set bundle = node.bundle|clean_class %}
{% set date = node.createdtime|format_date('date_medium') %}
{%
set classes = [
'node',
bundle,
node.isPromoted() ? bundle ~ '--promoted',
node.isSticky() ? bundle ~ '--sticky',
not node.isPublished() ? bundle ~ '--unpublished',
view_mode ? bundle ~ '--' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('row') }}>
    <div class="col-xs-5">
      {{ content.field_blog_post_featured_image }}
    </div>
    <div class="col-xs-7">
      {% if display_submitted %}
        <div class="blog-post__date">{{ date }}</div>
      {% endif %}

      {{ title_prefix }}
        <h3 class="blog-post__title">
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h3>
      {{ title_suffix }}

      {{ content.field_blog_post_body }}
    </div>
  </div>

</article>
