{#
/**
 * @file
 * Template to display a Blog Post in Teaser mode.
 */
#}
{% set bundle = node.bundle|clean_class %}
{% set date = node.createdtime|format_date('date_medium') %}
{%
set classes = [
'node',
bundle,
node.isPromoted() ? bundle ~ '--promoted',
node.isSticky() ? bundle ~ '--sticky',
not node.isPublished() ? bundle ~ '--unpublished',
view_mode ? bundle ~ '--' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <h1 class="blog-post__title visible-xs">
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h1>

  <div{{ content_attributes.addClass('row') }}>
    <div class="col-sm-5">
      {{ content.field_blog_post_featured_image }}
    </div>
    <div class="col-sm-7">
      {{ title_prefix }}
        <h1 class="blog-post__title hidden-xs">
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h1>
      {{ title_suffix }}

      {% if display_submitted %}
        <div class="blog-post__date">{{ date }}</div>
      {% endif %}

      <div class="blog-post__body">
        {{ content.field_blog_post_body }}
      </div>
    </div>
  </div>

</article>
